<html lang="en" layout:decorate="~{layout}">
<div layout:fragment="content" class="w-[1200px] mx-auto m-[40px]" style="text-align:left">
    <div>
    <table>
        <thead>
            <tr style="background-color: #4d8fe6; color: white;">
                <th class="w-[600px]">제목</th>
                <th class="w-[300px]">작성자</th>
                <th class="w-[200px]">작성일</th>
                <th class="w-[200px]">조회수</th>
                <th class="w-[200px]">추천수</th>
            </tr>
        </thead>
        <tbody>
        <div class="w-[80%]" th:with="itemHover='hover:bg-blue-600 p-[10px] hover:text-white flex inline-block w-[100%]'">
            <tr th:each="article : ${articlePages}">
                <td>
                    <a th:href="@{|/article/detail/${article.id}|}" th:class="${itemHover}">
                        <span th:text="${article.title}" class="text-xl"></span>
                        <span th:if="${article.comments.size() > 0}" th:text="' (' + ${article.comments.size()} + ')'" class="ml-[40px] mt-[3px]"></span>
                    </a>
                </td>
                <td>
                    <span th:if="${article.author != null}" th:text="${article.author.nickname}"></span>
                </td>
                <td th:text="${#temporals.format(article.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${article.viewCount}"></td>
                <td th:text="${article.likeCount}"></td>
            </tr>
        </div>
        </tbody>
    </table>
    </div>
    <a th:href="@{|/article/write|}" class="btn">글 작성하기</a>
    <div>
        <!-- 첫번째 페이지로 이동 -->
        <a th:href="@{/article/list(page=1)}">첫 페이지 </a>

        <!-- 이전 링크 활성화 비활성화 -->
        <a th:href="${articlePages.first} ? '#' : @{/article/list(page=${articlePages.number})}"> 이전 </a>

        <!-- 페이지 번호 링크(현재 페이지는 숫자만)-->
<!--        <for(int page=startPage; page<=endPage; page++)></for>-->
        <span th:each="page: ${#numbers.sequence(startPage, endPage - 1)}">
        <span th:if="${page == articlePages.number}" th:text="${page + 1}"></span>
        <a th:unless="${page == articlePages.number}" th:href="@{|/article/list?page=${page}|}" th:text="${page + 1}"></a>
        </span>

        <!-- 다음 링크 활성화 비활성화 -->
        <a th:href="${articlePages.last} ? '#' : @{/article/list(page=${articlePages.number + 2})}"> 다음 </a>

        <!-- 마지막 페이지로 이동 -->
        <a th:href="@{/article/list(page=${articlePages.totalPages})}"> 마지막 페이지</a>
    </div>
</div>
</html>