<html lang="en" layout:decorate="~{layout}">
<div layout:fragment="content" class="w-[1200px] mx-auto" style="text-align:left">
    <div>
    <table>
        <thead>
            <tr>
                <th class="w-[600px]">제목</th>
                <th class="w-[300px]">작성자</th>
                <th class="w-[200px]">작성일</th>
                <th class="w-[200px]">조회수</th>
            </tr>
        </thead>
        <tbody>
        <div class="w-[80%]" th:with="itemHover='hover:bg-blue-600 p-[10px] hover:text-white flex inline-block w-[100%]'">
            <tr th:each="article : ${articleList}">
                <td>
                    <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}" th:class="${itemHover}"></a>
                </td>
                <td>
                    <span th:if="${article.author != null}" th:text="${article.author.nickname}"></span>
                </td>
                <td th:text="${#temporals.format(article.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${article.viewCount}"></td>
            </tr>
        </div>
        </tbody>
    </table>
    </div>
    <a th:href="@{|/article/write|}" class="btn">글 작성하기</a>
    <div class="pagination w-[100%]">
        <ul class="pagination flex justify-center gap-10">
            <li th:classappend="${articleList.first} ? 'disabled' : ''" class="page-item">
                <a class="page-link w-[100px]" th:href="@{|/article/list?page=${articleList.number - 1}|}" th:disabled="${articleList.first}">이전</a>
            </li>
            <li th:classappend="${articleList.last} ? 'disabled' : ''" class="page-item flex">
                <a class="page-link w-[100px]" th:href="@{|/article/list?page=${articleList.number + 1}|}" th:disabled="${articleList.last}">다음</a>
            </li>
        </ul>
    </div>
</div>
</html>