<html lang="en" layout:decorate="~{layout}">
<div layout:fragment="content" class="w-[800px] mx-auto" style="text-align:left">
<table>
    <thead>
        <tr>
            <th class="w-[50%]">제목</th>
            <th class="w-[20%]">작성자</th>
            <th class="w-[30%]">작성일</th>
        </tr>
    </thead>
    <tbody>
    <div class="w-[80%]">
        <tr th:each="article : ${articleList}">
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td>
                <span th:if="${article.author != null}" th:text="${article.author.nickname}"></span>
            </td>
            <td th:text="${#temporals.format(article.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </div>
    </tbody>
</table>
    <a th:href="@{|/article/write|}" class="btn">글 작성하기</a>
</div>
</html>