<html lang="en" layout:decorate="~{layout}">
<div layout:fragment="content" class="w-[1000px] mx-auto overflow-scroll">
    <div class="flex flex-col gap-7">
        <p>글쓴이</p>
    <span th:if="${article.author != null}" th:text="${article.author.nickname}"></span>
    <h2 class="text-4xl">Title</h2>
        <span class="w=[50%] border-4" th:text="${article.title}"></span>
    <p class="text-2xl">Content</p>
        <span class="border-4" th:text="${article.content}"></span>
    </div>
</div>
</html>