<html lang="en" layout:decorate="~{layout}">
<div layout:fragment="content" class="w-[1000px] mx-auto">
    <div class="flex justify-end gap-3">
        <i class="fa-solid fa-user"></i>
    <span th:if="${article.author != null}" th:text="${article.author.nickname}"></span>
    <span style="float: right;">
        <i class="fa-solid fa-heart"></i>
        <span th:text="${article.likeCount}"></span>
        <i class="fa-solid fa-eye"></i>
        <span th:text="${article.viewCount}"></span>
    </span>
    </div>
    <hr class="h-[2px] bg-gray-300 mt-[20px] mb-[20px]">
        <span class="w=[50%] text-2xl" th:text="${article.title}"></span>
        <hr class="h-[2px] bg-gray-300 mt-[20px] mb-[20px]"></hr>
        <span class="text-lg" th:text="${article.content}"></span>
    </hr>


<!--    <p>Article ID: <span th:text="${article.id}"></span></p>-->
    <a th:href="@{|/article/likes/up/${article.id}|}" sec:authorize="isAuthenticated()" class="btn w-[40px] flex-justify-center">
        <i class="fa-solid fa-heart"></i>
    </a>


<!--    <div th:if="${#lists.isEmpty(comments)}">댓글이 없습니다.</div>-->
    <div th:each="comment : ${article.comments}">
        <p><strong th:text="${comment.nickname}"></strong> <span th:text="${comment.createdDate}"></span></p>
        <p th:text="${comment.comment}"></p>
        <hr class="h-[2px] bg-gray-300 mt-[20px] mb-[20px]">

        <div sec:authorize="isAuthenticated()" th:if="${comment.author !=null and #authentication.getPrincipal().getLoginId() == comment.author.loginId}" class="flex flex-row">
            <form th:action="@{|/comment/update/${comment.id}|}" method="post" id="updateForm">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="commentId" th:value="${comment.id}" />
                <textarea name="comment" th:text="${comment.comment}"></textarea>
                <input type="submit" value="수정!" class="btn">
                <form th:action="@{|/comment/delete/${comment.id}|}" id="deleteForm">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="commentId" th:value="${comment.id}" />
                    <input type="submit" value="삭제!" class="btn" style="margin-top: 17px;">
                </form>
            </form>
        </div>
    </div>

    <div th:if="${#authentication.principal != null}">
        <form action="/comment/create" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="articleId" th:value="${article.id}"/>
            <textarea name="comment" placeholder="댓글을 입력하세요"></textarea>
            <input type="submit" value="댓글 작성" class="btn">
        </form>
    </div>
    <div class="flex justify-end gap-7">
    <a th:href="@{|/article/update/${article.id}|}" sec:authorize="isAuthenticated()"
       th:if="${article.author !=null and #authentication.getPrincipal().getLoginId() == article.author.loginId}" th:text="수정" class="btn"></a>
    <a th:href="@{|/article/delete/${article.id}|}" sec:authorize="isAuthenticated()"
       th:if="${article.author !=null and #authentication.getPrincipal().getLoginId() == article.author.loginId}" th:text="삭제" class="btn"></a>
        <a href="/article/list" class="btn">목록으로</a>
    </div>
<!--    <div th:if="${#authentication.principal == null}">-->
<!--        <p>댓글을 작성하려면 <a th:href="@{/login}">로그인</a>이 필요합니다.</p>-->
<!--    </div>-->
<script>
    function updateForm() {
            const form = document.getElementById("updateForm");
            if (!confirm("수정하시겠습니까?")) {
                event.preventDefault();
            }
        }

    function deleteForm() {
            const form = document.getElementById("deleteForm");
            if (!confirm("삭제하시겠습니까?")) {
                event.preventDefault();
            }
        }
    document.addEventListener('DOMContentLoaded', (event) => {
    document.getElementById('updateForm').addEventListener('submit', updateForm);
    document.getElementById('deleteForm').addEventListener('submit', deleteForm);
});
</script>
</div>
</html>