<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용설명서</title>
</head>
<body>
<h2>사용설명서</h2>
<p>
    서버포트 : 8088 (http://localhost:8088/)<br>
    Sql 데이터베이스명 : jjs<br>
    <br>
    개인프로젝트 사용설명서<br>
    사용된 기술 : 검색창, 스프링 시큐리티, 자바스크립트, 부트스트랩, 자바, 네이버 Api, 카카오 네이버 구글 로그인아웃 api<br>
    <br>
    기능 구현 :<br>
    - 로그인 로그아웃을 통한 회원 인증과 회원 판별을 통한 게시글, 댓글 작성수정과 좋아요 기능구현.<br>
    - 좋아요 기능 수행 이후 중복 좋아요시 좋아요 취소.<br>
    - 기본적인 게시판 기능 및 페이징<br>
    - 네이버 책 검색 Api를 활용한 네이버 도서 검색 기능<br>
    <br>
    TODO<br>
    - 네이버 책 검색시 페이징, 책 클릭시 게시판에 자동으로 책 정보 자동완성 및 리뷰 작성, 도메인 활성화<br>
    감사합니다.<br>

    <a href="/" class="btn">메인으로</a>
</p>
</body>
</html>
